<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <bean class="com.springcore.student" name="student1">
        <property name="studentID">
            <value>22344</value>
        </property>
        <property name="studentName">
            <value>Ashi Yadav</value>
        </property>
        <property name="studentAddress">
            <value>Delhi</value>
        </property>
    </bean>
    <bean class="com.springcore.student" name="student2">
        <property name="studentID" value="23451"/>
        <property name="studentName" value="Rohit Sharma"/>
        <property name="studentAddress" value="Bhopal"/>
    </bean>
    <bean class="com.springcore.student" name="student3" p:studentID="46753" p:studentName="Vishal Agnihotri" p:studentAddress="Goa"/>
</beans>